- json_image_presenter = JsonImagePresenter.new
%script#template_result_template{type: 'text/x-handlebars-template'}
  = render '/search/template_row', {presenter: JsonTemplatePresenter.new}
%script#remote_image_result_template{type: 'text/x-handlebars-template'}
  = render '/search/modal_image_row', {presenter: json_image_presenter, remote: true}
%script#local_image_result_template{type: 'text/x-handlebars-template'}
  = render '/search/modal_image_row', {presenter: json_image_presenter, locals: {app: @app}}
%script#absolute_image_result_template{type: 'text/x-handlebars-template'}
  = render '/search/absolute_image_row', {presenter: json_image_presenter, app: @app}
%script#source_blurb_row_template{type: 'text/x-handlebars-template'}
  = render '/search/source_blurb_row'
%script#loading_row_template{type: 'text/x-handlebars-template'}
  = render '/search/loading_row'
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  = render '/search/no_results_row'

#add-service-form
  .filterable-list
    = form_for @search_result_set, url: search_path, method: :get, html: {class: 'search-form'} do |f|
      = f.text_field :q, placeholder: 'enter your command / query', accesskey: 's', class: 'query-field'
      = f.button 'Search', class: 'button-primary'
    %p.example-searches
      %strong
        Examples:
      %a{data: {query: 'wordpress'}} wordpress
      %a{data: {query: 'apache'}} apache
      %a{data: {query: 'rails'}} rails
      %a{data: {query: 'ubuntu'}} ubuntu
      %a{data: {query: 'java'}} java

    %h3.search-title Images
    .local-image-results
    .remote-image-results
