%h3 Environment Variables
= f.fields_for :environment do |env_var|
  - index = env_var.options[:child_index]
  %dl
    %dt= env_var.object.variable
    %dd= env_var.object.value
    %dd.actions
      - checkbox_id = "select_environment_variable_#{index}"
      = env_var.check_box :_deleted, { id: checkbox_id }
      = env_var.hidden_field :variable
      = env_var.hidden_field :value
      %a{class: 'delete-action', title: 'remove', data: { checkbox: { selector: "##{checkbox_id}" } } } remove

.additional-entries
  = add_fields_for(:environment, f, { child_index: '_replaceme_' }) do |builder|
    %dl
      %dt.editing
        = builder.text_field :variable, disabled: true, placeholder: 'Label'
      %dd.editing
        = builder.text_field :value, disabled: true, placeholder: 'Value'
        %a.cancel Cancel

%button.button-add Add an Environment Variable

