%h3 Service Links
%ul
  = f.fields_for :links do |link|
    - checkbox_id = "select_link_#{link.options[:child_index]}"
    %li
      %a{data: { checkbox: { selector: "##{checkbox_id}" } }, class: 'remove-link', title: 'remove link'} remove
      %span{title: 'Name'}= link.object.service_name
      = ':'
      %span{title: 'Alias'}= link.object.alias
      = link.check_box :_deleted, { id: checkbox_id }
      = link.hidden_field :service_id
      = link.hidden_field :service_name
      = link.hidden_field :alias
%ul.additional-entries
  %li.editing
    = add_fields_for(:links, f, { child_index: '_replaceme_' }) do |builder|
      = builder.select :service_id, linkable_service_options(services, service_id), { include_blank: true }, disabled: true, title: 'Name'
      = builder.text_field :alias, disabled: true, placeholder: 'enter link alias', title: 'Alias'

%button.button-add Add a Linked Service
