%h3
  Volumes
  .service-help-icon
    .context-help
      %section
        %aside.arrow
        %span{ class: 'dismiss' }
        %p Panamax currently supports the volume (-v) command for mounting a host directory as a data volume and adding a data volume to a container.
        %p
          For adding a data volume to a container, provide the path to the volume on the container. For mounting a host directory, provide the local host path and the mapped container path.
          Panamax does not currently support the read-only option (:ro) or volumes from (--volumes-from).
        %p To see if any additional volumes were mounted via the VOLUME command at run time, review the Dockerfile of any base images.
%ul
  = f.fields_for :volumes do |volume|
    - checkbox_id = "select_volume_#{volume.options[:child_index]}"
    %li{title: "host: #{volume.object.host_path}, container: #{volume.object.container_path}"}
      %strong= volume.object.host_path
      = ": #{volume.object.container_path}"
      .actions
        = volume.check_box :_deleted, { id: checkbox_id }
        = volume.hidden_field :host_path
        = volume.hidden_field :container_path
        %a{class: 'delete-action', title: 'remove', data: { checkbox: { selector: "##{checkbox_id}" } } } remove
%ul.additional-entries
  %li.editing
    = add_fields_for(:volumes, f, { child_index: '_replaceme_' }) do |builder|
      = builder.text_field :host_path, disabled: true, placeholder: 'host path (optional)', title: 'host path'
      = ':'
      = builder.text_field :container_path, disabled: true, placeholder: 'container path', title: 'container path'
      %a.cancel Cancel

%button.button-add Add a Volume
