%h3 Volumes
%ul
  = f.fields_for :volumes do |volume|
    - checkbox_id = "select_volume_#{volume.options[:child_index]}"
    %li{title: "host: #{volume.object.host_path}, container: #{volume.object.container_path}"}
      %strong= volume.object.host_path
      = ": #{volume.object.container_path}"
      .actions
        = volume.check_box :_deleted, { id: checkbox_id }
        = volume.hidden_field :host_path
        = volume.hidden_field :container_path
        %a{class: 'delete-action', title: 'remove', data: { checkbox: { selector: "##{checkbox_id}" } } } remove
%ul.additional-entries
  %li.editing
    = add_fields_for(:volumes, f, { child_index: '_replaceme_' }) do |builder|
      = builder.text_field :host_path, disabled: true, placeholder: 'host path (optional)', title: 'host path'
      = ':'
      = builder.text_field :container_path, disabled: true, placeholder: 'container path', title: 'container path'
      %a.cancel Cancel

%button.button-add Add a Volume
