- content_for(:body_id, 'manage_flow')

:ruby
  crumbs = breadcrumbs_for(
    link_to("Manage", applications_path),
    link_to(@app.name, application_path(@app.to_param)),
    @service.name
  )
= render '/shared/breadcrumbs', breadcrumbs: crumbs

%section.service-details
  %span.service-status{class: @service.status}
    = @service.status.to_s.humanize
    %em{title: 'Docker sub state'}= "(#{@service.sub_state || ' - '})"

  .base-image-detail
    %h6 Base Image:
    %span
      = @service.service_source_name
    = link_to 'View on Docker Index', @service.docker_index_url, { target: 'blank' }

  = form_for [@app, @service], html: { class: 'service-edit-form' } do |f|
    .service-attributes
      .service-links
        = render 'service_links', f: f, services: @app.services, service_id: @service.id
      .port-detail
        = render 'port_detail', f: f
      .environment-variables
        = render 'environment_variables', f: f
    = f.submit 'Save all changes', class: 'button-primary', data: {disable_with: 'Saving...'}

= render 'shared/journal', 
  title: 'CoreOS Journal - Service Activity Log',
  journal_path: journal_application_service_path(@app.id, @service.id)
