- content_for(:body_id, 'manage_flow')

:ruby
  crumbs = breadcrumbs_for(
    link_to("Manage", applications_path),
    link_to(@app.name, application_path(@app.to_param)),
    @service.name
  )

= form_for [@app, @service], html: { class: 'service-edit-form' } do |f|
  = render '/shared/breadcrumbs', breadcrumbs: crumbs

  .service-links
    %h3 Service Links
    %ul
      = f.fields_for :links do |link|
        - checkbox_id = "select_link_#{link.options[:child_index]}"
        %li
          %a{data: { checkbox: { selector: "##{checkbox_id}" } }, class: 'remove-link', title: 'remove link'} remove
          = link.object.service_name
          = link.check_box :service_id, { id: checkbox_id }, link.object.service_id, nil
          = link.hidden_field :alias

  .port-detail
    %h3 Ports
    %ul
      - @service.ports.each do |port|
        %li{title: "container: #{port.container_port}, host: #{port.host_port}"}
          %strong= port.host_port
          = "/tcp"

  .environment-variables
    %h3 Environment Variables
    %dl
      - @service.environment.attributes.each do |name,value|
        %dt= name
        %dd= value

  = f.submit
