- remote ||= false
.search-result-item.image-result{data: {'title' => presenter.title, 'status-label' => presenter.status_label}}
  .badge{class: presenter.badge_class}
    = presenter.status_label
  .basic-info
    %h3
      - if remote
        = link_to presenter.title, presenter.docker_index_url, target: '_blank', title: 'View details on the Docker Index'
      - else
        = presenter.title
    %p= presenter.short_description
  .actions
    = form_tag apps_path do
      = hidden_field_tag 'app[image]', presenter.title
      = label 'app[tag]', 'Tag:'
      = select_tag 'app[tag]',
        options_for_select(['latest']),
        id: nil,
        class: 'image-tag-select',
        data: {'load-tags-endpoint' => load_tags_search_path, 'loaded' => false}
      %button.button-positive{ data: { disable_with: 'Starting App...', tracking: { method: 'click', action: 'Create Application', category: 'Run Image', label: presenter.title }}} Run Image
  - if remote
    .community-data
      = link_to presenter.docker_index_url + "/stars/", target: '_blank' do
        .star-count=presenter.star_count
