- remote ||= false
.search-result-item.image-result{data: {'title' => presenter.title, 'status-label' => presenter.status_label}}
  .badge= presenter.status_label
  .authority
    %div{:class => presenter.recommended_class}
  .basic-info
    %h3
      - if remote
        = link_to presenter.title, presenter.docker_index_url, target: '_blank', title: 'View details on the Docker Index'
      - else
        = presenter.title
    %p= presenter.short_description
  .actions
    = form_tag applications_path do
      = hidden_field_tag 'application[image]', presenter.title
      = label :tags, 'Tags:'
      = select_tag :tags, nil, data: {'load-tags-endpoint' => search_load_tags_path}
      = button_tag 'Run Image', class: 'button-positive', data: {disable_with: 'Starting App...'}
  - if remote
    .community-data
      = link_to presenter.docker_index_url + "/stars/", target: '_blank' do
        .star-count=presenter.star_count
