- remote ||= false
.search-result-item.image-result
  .badge= presenter.status_label
  .authority
    %div{:class => presenter.recommended_class}
  .basic-info
    %h3
      - if remote
        = link_to presenter.title, presenter.docker_index_url, target: '_blank', title: 'View details on the Docker Index'
      - else
        = presenter.title
    %p= presenter.short_description
  .actions
    = form_tag applications_path do
      = hidden_field_tag 'application[image]', presenter.title
      = label :tags, 'Tags:'
      = select_tag :tags, options_for_select(['Latest','Super Old'])
      = button_tag 'Run Image', class: 'button-positive'
  - if remote
    .community-data
      = link_to presenter.docker_index_url + "/stars/", target: '_blank' do
        .star-count=presenter.star_count
