- remote ||= false
.search-result-item.image-result{data: {'title' => presenter.title, 'status-label' => presenter.status_label}}
  .badge= presenter.status_label
  .basic-info
    %h3
      - if remote
        = link_to presenter.title, presenter.docker_index_url, target: '_blank', title: 'View details on the Docker Index'
      - else
        = presenter.title
    %p= presenter.short_description
  .actions
    = form_tag app_services_path(@app.id) do
      = hidden_field_tag 'app[name]', @app.name
      = hidden_field_tag 'app[category]', 'null', class: 'category-form-field'
      = hidden_field_tag 'name', presenter.title
      = label 'app[tag]', 'Tag:'
      = select_tag 'app[tag]',
      options_for_select(['latest']),
      id: nil,
      class: 'image-tag-select',
      data: {'load-tags-endpoint' => load_tags_search_path, 'loaded' => false}
      %button.button-positive{ data: { disable_with: 'Adding...', tracking: { method: 'click', action: 'Add to Application', category: 'Run Image', label: presenter.title }}} Add to App
  - if remote
    .community-data
      = link_to presenter.docker_index_url + "/stars/", target: '_blank' do
        .star-count=presenter.star_count
