.search-result-item.template-result
  .badge
    %img{src: presenter.icon_src}
    = presenter.status_label
  .authority
    %div{:class => presenter.recommended_class}
  .basic-info
    %h3= presenter.title
    %p= presenter.short_description
    %p.microcopy= "Last Updated: #{presenter.last_updated_on}"
  .actions
    = form_tag apps_path do
      = hidden_field_tag 'app[template_id]', presenter.id
      %button.button-positive{ data: { disable_with: 'Starting App...', tracking: { method: 'click', action: 'Create Application', category: 'Run Template', label: presenter.title }}} Run Template
  .community-data
    .image-count
      %em= presenter.image_count
      = presenter.image_count_label
