.search-result-item.template-result
  .badge= presenter.status_label
  .authority
    %div{:class => presenter.recommended_class}
  .basic-info
    %h3= presenter.title
    %p= presenter.short_description
    %p.microcopy= "Last Updated: #{presenter.updated_at}"
  .actions
    = form_tag applications_path do
      = hidden_field_tag 'application[template_id]', presenter.id
      = button_tag 'Run Template', class: 'button-positive'
  .community-data
    .image-count
      %em= presenter.image_count
      = presenter.image_count_label
