.search-result-item
  .badge= presenter.status_label
  .basic-info
    %h3
      %a= presenter.title
    %p= presenter.short_description
    %p.microcopy= "Last Updated: #{presenter.updated_at}"
  .actions
    %button.button-positive Run Template
