:ruby
  json_image_presenter = JsonImagePresenter.new
  content_for(:title, 'Search')
  content_for(:body_id, 'search_flow')

%script#template_result_template{type: 'text/x-handlebars-template'}
  = render 'template_row', {presenter: JsonTemplatePresenter.new}
%script#remote_image_result_template{type: 'text/x-handlebars-template'}
  = render 'image_row', {presenter: json_image_presenter, remote: true}
%script#local_image_result_template{type: 'text/x-handlebars-template'}
  = render 'image_row', {presenter: json_image_presenter}
%script#absolute_image_result_template{type: 'text/x-handlebars-template'}
  = render 'absolute_image_row', {presenter: json_image_presenter}
%script#loading_row_template{type: 'text/x-handlebars-template'}
  = render 'loading_row'
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  = render 'no_results_row'
%script#source_blurb_row_template{type: 'text/x-handlebars-template'}
  = render 'source_blurb_row'
%script#blog_item_template{type: 'text/x-handlebars-template'}
  = render 'blog_item'

.filterable-list
  %h1 Search Panamax Templates & Docker Repositories
  = form_for @search_result_set, url: search_path, method: :get, html: {class: 'search-form'} do |f|
    = f.text_field :q, placeholder: 'enter your query', accesskey: 's', class: 'query-field'
    = f.button 'Search', class: 'button-primary'
    = render 'examples'

  = render 'keyword_cloud', keywords: @keywords_sorted_by_term, sort_title: 'Count', sorted_by: :name, display_style: 'none'
  = render 'keyword_cloud', keywords: @keywords_sorted_by_count, sort_title: 'Name', sorted_by: :count

  %h3.search-title Templates
  .template-results

  %h3.search-title Images
  .local-image-results
  .remote-image-results

  #template-details-dialog

%section.blog-feed
  %h3 From the CenturyLink Labs Blog
  %ul.blog-feed-items{ data: { source: 'http://centurylinklabs.com/feed' } }
  %a.blog-link{href: 'http://centurylinklabs.com'}
    View more at CenturyLinkLabs.com

%section.compose-banner
  = link_to image_tag('pmx_compose_yml.jpg'), apps_path
