- content_for(:body_id, 'search_flow')

%script#template_result_template{type: 'text/x-handlebars-template'}
  = render 'template_row', {presenter: JsonTemplatePresenter.new}
%script#remote_image_result_template{type: 'text/x-handlebars-template'}
  = render 'image_row', {presenter: JsonImagePresenter.new, remote: true}
%script#local_image_result_template{type: 'text/x-handlebars-template'}
  = render 'image_row', {presenter: JsonImagePresenter.new}
%script#loading_row_template{type: 'text/x-handlebars-template'}
  = render 'loading_row'
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  = render 'no_results_row'
%script#source_blurb_row_template{type: 'text/x-handlebars-template'}
  = render 'source_blurb_row'
%script#blog_item_template{type: 'text/x-handlebars-template'}
  = render 'blog_item'

.filterable-list
  %h1 Search Panamax Templates & Docker Repositories
  = form_for @search_result_set, url: search_path, method: :get, html: {class: 'search-form'} do |f|
    = f.text_field :q, placeholder: 'enter your query', accesskey: 's', class: 'query-field'
    = f.button 'Search', class: 'button-primary'
    %p.microcopy Examples: Rails, redis, NGiNX, mongoDB, you get the picture...

  %section.example-searches
    %h3
      Or, try one of these popular searches:
    %a.example.buildpack{data: {query: 'buildpack-runner'}} Buildpack
    %a.example.wordpress{data: {query: 'wordpress'}} Wordpress
    %a.example.drupal{data: {query: 'drupal'}} Drupal
    %a.example.rails{data: {query: 'rails'}} Rails

  %h3.search-title Templates
  .template-results

  %h3.search-title Images
  .local-image-results
  .remote-image-results

  #template-details-dialog

%section.blog-feed
  %h3 From the CenturyLink Labs Blog
  %ul.blog-feed-items{ data: { source: 'http://centurylinklabs.com/feed' } }
  %a.blog-link{href: 'http://centurylinklabs.com'}
    View more at CenturyLinkLabs.com

%section.contest-banner
  .inner
    .info
      .white-logo
      %h3 $100,000+ Panamax App Template Challenge 2014
      %p
        Submit your creative, popular or innovative Panamax App Template. Over $100,000+ in prizes are up for grabs. 60
        finalists from multiple categories will receive a Mac Pro or iPad Air.
      = link_to 'Contest Rules',
                'http://panamax.io/contest#rules',
                target: '_blank',
                title: 'Contest Rules'
      = link_to 'FAQ',
                'http://panamax.io/contest#faq',
                target: '_blank',
                title: 'FAQ'
                
    .action
      = link_to 'Learn More',
                'http://panamax.io/contest',
                class: 'button-positive',
                target: '_blank',
                title: 'Learn More'
