%script#result_template{type: 'text/x-handlebars-template'}
  = render 'image_row', {presenter: JsonImagePresenter.new}
%script#loading_row_template{type: 'text/x-handlebars-template'}
  = render 'loading_row'
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  = render 'no_results_row'

.filterable-list
  %h1 Search Tempaltes &amp; Images
  = form_for @search_form, url: search_path, method: :get, html: {class: 'search-form'} do |f|
    = f.text_field :query, placeholder: 'enter your command / query'
    = f.submit 'Search', class: 'button-primary'

  %p.example-searches
    %strong
      Examples:
    %a{data: {query: 'wordpress'}} wordpress,
    %a{data: {query: 'apache'}} apache,
    %a{data: {query: 'rails'}} rails,
    %a{data: {query: 'ubuntu'}} ubuntu,
    %a{data: {query: 'java'}} java

  %h3 Templates
  .template-results

  %h3 Images
  .image-results
