- content_for(:title, 'Search Results')
- content_for(:body_id, 'search_flow')

%h2= "Results for #{@search_result_set.q}"
%h3.search-title Templates
.template-results
  - @search_result_set.templates.each do |template|
    = render 'template_row', {presenter: TemplatePresenter.new(template)}
  = render 'source_blurb_row'
%h3.search-title Images
.local-image-results
  - @search_result_set.local_images.each do |image|
    = render 'image_row', {presenter: ImagePresenter.new(image, self)}
.remote-image-results
  - @search_result_set.remote_images.each do |image|
    = render 'image_row', {presenter: ImagePresenter.new(image, self), remote: true}
