- content_for(:body_id, 'search_flow')

%h2= "Results for #{@search_results.query}"
- @search_results.local_images.each do |image|
  = render 'image_row', {presenter: ImagePresenter.new(image)}
- @search_results.remote_images.each do |image|
  = render 'image_row', {presenter: ImagePresenter.new(image), remote: true}
- @search_results.templates.each do |image|
  = render 'template_row', {presenter: TemplatePresenter.new(image)}
