- content_for(:body_id, 'manage_flow')

%h1 Manage
%header
  %h3 My Applications
%section.applications
  - @apps.each do |app|
    %div.application
      .name
        = link_to app.name, application_path(app.id)
        %b= app.services.length
        %span= app.service_count_label
      .actions
        %div
          = link_to 'edit', application_path(app.id), class: 'edit-action', title: 'details'
          = link_to 'delete', application_path(app.id), class: 'delete-action', title: 'delete'

.add-button
  = link_to 'Create a New Application', root_path, class: 'button-positive'
