- content_for(:body_id, 'manage_flow')

%h1= @app.name
%section.application-services
  .title
    %h3
      Application Services
    %nav
      %a.list.selected= ''
      %a.link= ''
  .categories
    - @app.service_categories.each do |cat|
      .category-panel
        .title
          = cat['name']
        %ul.services
          - @app.categorized_services[cat['name']].each do |service|
            %li
              .service-icon
              %span
                = service['name']

