- content_for(:body_id, 'manage_flow')

:ruby
  crumbs = breadcrumbs_for(
    link_to("Manage", applications_path),
    @app.name
  )
= render '/shared/breadcrumbs', breadcrumbs: crumbs

= render 'shared/notifications'

%section.deployment-details
  %span.deployment-env
    Deployed to: CoreOS Local
  - unless @app.host_ports.blank?
    - @app.host_ports.each do |service_name, ports|
      %span.service-url
        = "#{service_name} URL: "
        - ports.each do |port|
          %a{href: "http://127.0.0.1:#{port}/"}<>
            = "127.0.0.1:#{port}"

%section.application-services
  %header
    %h3
      Application Services
    %nav
      %a.list.selected= ''
      %a.relationship= ''
  .views
    .categories
      - @app.categorized_services.each do |group, services|
        .category-panel
          %header
            %span.title
              = group.name
            .actions
              %a{href: "/categories/#{group.id}", class: 'edit-action'}
          - unless services.empty?
            %ul.services
              - services.each do |service|
                = render 'application_service_row', :app_id => @app.id,
                                                    :name => service.name,
                                                    :service_id => service.id,
                                                    :status => service.status,
                                                    :icon => service.icon
          = link_to 'Add a Service', '#', class: 'button-positive add-service', title: 'add', data: {:category => group.id}
      .category-panel.new
        %header
          Add a Category
        %button.button-positive
    .relationships
      = render 'relationship_view', :app => @app

= render 'shared/journal', 
  title: 'CoreOS Journal - Application Activity Log',
  journal_path: journal_application_path(@app.id)

= render 'services/add_service'

.archetype
  = render 'application_service_row', :app_id => @app.id,
                                      :name => 'REPLACE',
                                      :service_id => 'REPLACE',
                                      :status => nil,
                                      :icon => nil
