%h3 Information retrieved from GitHub
%dl
  %dt Username:
  %dd= template_form.user.github_username
  %dt Email Address:
  %dd= template_form.user.email

= form_for template_form, url: templates_path do |f|
  = f.hidden_field :app_id
  %h3 Select a repository for your application template
  = f.select :repo, options_for_select(template_form.user.repositories), {}, class: 'fancy'

  %h3 Add some information about your template to help others find it in search results

  %dl
    %dt= f.label :name, 'Template Name', class: 'required'
    %dd= f.text_field :name, placeholder: 'Give your template a name'
    %dt= f.label :author, 'Template Author'
    %dd= f.text_field :author
    %dt= f.label :description, 'Template Description'
    %dd= f.text_area :description, placeholder: 'Give your template a description'
    %dt= f.label :keywords, class: 'optional'
    %dd= f.text_field :keywords, placeholder: 'Add some keywords, seperated by commas'
    %dt.optional Template Icon
    %dd.template-icons
      - f.object.types.each do |type|
        = label_tag do
          = f.radio_button :type, type.name
          = image_tag icon_source_for(type.name)
          %span= type.name

  %h3 Template Documentation
  %label.documentation
    %strong Add some instructions to help people use your template.
    Confused about the syntax?
    = link_to 'See the markdown guide here', 'http://kramdown.gettalong.org/syntax.html'
    = f.text_area :documentation

  = button_tag 'Publish Your Template', class: 'button-positive'
