%h3 Information retrieved from GitHub
%dl
  %dt Username:
  %dd= user.github_username
  %dt Email Address:
  %dd= user.email

= form_for template_form, url: templates_path do |f|
  = render 'shared/errors', errors: f.object.errors
  %h3 Select a repository for your application template
  = f.select :repos, options_for_select(user.repositories), {}, class: 'fancy'

  %h3 Add some information about your template to help others find it in search results

  %dl
    %dt= f.label :name, 'Template Name'
    %dd= f.text_field :name, placeholder: 'Give your template a name'
    %dt= f.label :author, 'Template Author'
    %dd= f.text_field :author
    %dt= f.label :description, 'Template Description'
    %dd= f.text_area :description, placeholder: 'Give your template a description'
    %dt= f.label :keywords, class: 'optional'
    %dd= f.text_field :keywords, placeholder: 'Add some keywords, seperated by commas'
    %dt Template Icon
    %dd.template-icons
      - TemplateForm.icon_options.each do |text, value|
        = label_tag do
          = f.radio_button :icon, value
          = image_tag value
          %span= text

  = button_tag 'Publish Your Template', class: 'button-positive'
