- content_for(:body_id, 'template_flow')

%h1 Save as Template
- if @user.github_access_token_present?
  %p
    We haz your Github access token!
- else
  %header
    %h3 First, you'll need to create a github token
  %p
    Visit
    = link_to 'Generate a Github access token', 'https://github.com/settings/tokens/new?scope=repo,user:email', target: '_blank'

  = form_for @user, url: user_path, method: :put do |f|
    %strong
      = f.label :github_access_token, 'Github Token'
    = f.text_field :github_access_token, placeholder: 'Paste your GitHub token here'
    = f.button 'Save Token', class: 'button-positive'
