- content_for(:body_id, 'jobs_flow')
- content_for(:title, "New #{@template.name}")

%h1 create a new job
%p!= markdown_to_html(@template.description)
%p.microcopy All fields required.
= form_for @job do |f|
  = f.hidden_field :template_id
  %ul
    = f.fields_for :override do |ov|
      = ov.fields_for :environment do |env|
        %li
          = env.hidden_field :variable
          = env.text_field :value, placeholder: env.object.variable, required: true
          %label= env.object.description

  = f.submit 'Add New Target', class: 'button-positive'
