%h4 Search Form
= form_tag('/', class: 'search-form') do
  = text_field_tag :query, '', placeholder: 'enter your command / query', id: 'search_form_query'
  = button_tag 'Search', class: 'button-primary'

%p.example-searches
  %strong
    Examples:
  %a{data: {query: 'wordpress'}} wordpress,
  %a{data: {query: 'apache'}} apache,
  %a{data: {query: 'rails'}} rails,
  %a{data: {query: 'ubuntu'}} ubuntu,
  %a{data: {query: 'java'}} java

%h4 Result blocks

%h5 Local Image Row
:ruby
  def applications_path; '/';end
  dummy_image_presenter = OpenStruct.new({
    title: 'SomeDude/SomeImage',
    status_label: 'Repository',
    short_description: 'This is a short description it should be truncated at 165 characters in the real implementation',
    star_count: 72,
    recommended_class: 'not-recommended'
  })
= render '/search/image_row', {presenter: dummy_image_presenter}

%h5 Remote Image Row
:ruby
  def applications_path; '/';end
  dummy_image_presenter = OpenStruct.new({
    title: 'SomeDude/SomeImage',
    status_label: 'Repository',
    short_description: 'This is a short description it should be truncated at 165 characters in the real implementation',
    star_count: 72,
    recommended_class: 'not-recommended',
    docker_index_url: '/docker.io/foo'
  })
= render '/search/image_row', {presenter: dummy_image_presenter, remote: true}

%h5 Template Row
:ruby
  fake_template_presenter = OpenStruct.new({
    title: 'Some Template',
    status_label: 'Repository',
    short_description: 'This is a short description it should be truncated at 165 characters in the real implementation',
    image_count: 4,
    image_count_label: 'Images',
    updated_at: '4/14/2013',
    recommended_class: 'recommended',
    icon_src: image_path('template_logos/default.png')
  })
= render '/search/template_row', {presenter: fake_template_presenter}

%h5 Loading Row
= render '/search/loading_row'

%h5 No Results Row
= render '/search/no_results_row'
