%h4 Search Form
= form_tag('/', class: 'search-form') do
  = text_field_tag :query, '', placeholder: 'enter your command / query', id: 'search_form_query'
  = submit_tag 'Search', class: 'button-primary'

%p.example-searches
  %strong
    Examples:
  %a{data: {query: 'wordpress'}} wordpress,
  %a{data: {query: 'apache'}} apache,
  %a{data: {query: 'rails'}} rails,
  %a{data: {query: 'ubuntu'}} ubuntu,
  %a{data: {query: 'java'}} java
%h4 Result blocks
%h5 Image Row
= render '/search/image_row', {presenter: JsonImagePresenter.new}
%h5 Loading Row
= render '/search/loading_row'
%h5 No Results Row
= render '/search/no_results_row'
