.service-attributes
  .column-left
    .port-detail
      %h3 Ports
      %ul
        %li
          %strong 8888
          = ": 80"
          .actions
            = link_to 'remove', '#', class: 'delete-action', title: 'remove'
        %li
          %strong 2020
          = ": 20"
          .actions
            = link_to 'remove', '#', class: 'delete-action', title: 'remove'
        %li.editing
          %input{type: 'number', placeholder: 'host'}
          %input{type: 'number', placeholder: 'container'}

      %button.button-add Add a Port

    .service-links
      %h3 Service Links
      %ul
        %li
          = link_to 'remove', '#', class: 'remove-link', title: 'remove link'
          %span{title: 'Name'} panamax-wordpress-extra-long-title
          = ':'
          %span{title: 'Alias'} pmx_wp
        %li
          %span{title: 'Name'} panamax-mysql
          = ':'
          %span{title: 'Alias'} pmx_mysql
          = link_to 'remove', '#', class: 'remove-link', title: 'remove link'
        %li.editing
          %select
            %option Database Service
            %option App Service
          = ':'
          %input{type: 'text', placeholder: 'enter alias here'}
      %button.button-add Add a Linked Service
  .column-right
    .environment-variables
      %h3 Environment Variables
      %dl
        %dt DATABASE_NAME
        %dd myapp_development
        %dd.actions
          = link_to 'remove', '#', class: 'delete-action', title: 'remove'
        %dt DB_PASSWORD
        %dd abc12378987
        %dd.actions
          = link_to 'remove', '#', class: 'delete-action', title: 'remove'
        %dt.editing
          %input{type: 'text', placeholder: 'Label'}
        %dd.editing
          %input{type: 'text', placeholder: 'Value'}
          %a Cancel
      %button.button-add Add an Environment Variable
:javascript
  $('select').chosen({
    disable_search: true
  });
