%li
  %span.name
    = registry.name
  %span.endpoint
    %strong Endpoint:
    = registry.endpoint_url
  = form_for registry, html: { class: 'edit-registry' }  do |f|
    - enabled_dom_id = "#{dom_id(registry)}_enabled"
    .styled-check.enabled
      = f.check_box :enabled, id: enabled_dom_id
      = f.label :enabled, content_tag(:em, 'Enabled'), for: enabled_dom_id
  - unless registry.name == 'Docker Hub'
    .actions
      = link_to 'Delete Registry',
                registry_path(registry.id),
                class: 'delete-action',
                title: 'delete',
                method: 'delete',
                data: { delete_confirm: 'Delete this registry?', delete_remove_at: 'li' }
