- content_for(:body_id, 'registries_flow')

= render '/shared/breadcrumbs', breadcrumbs: ["Manage",
                                               link_to("Dashboard", dashboard_index_path),
                                               "Registries"]

%section.registries
  - if @registries
    %ul
      = render @registries

  = form_for @registry, html: { style: "display: #{none_if(@registry.valid?)};", class: 'create-registry' } do |f|
    = render 'shared/errors', errors: @registry.errors

    = f.text_field :name, placeholder: 'Give your registry a name'
    = f.text_field :endpoint_url, placeholder: 'http://localhost:5000'
    = f.submit 'Add Registry', class: 'button-positive'
    = link_to 'Cancel', '#', class: 'cancel'

  %a.button-add-positive Add a New Registry
