- content_for(:body_id, 'template_repo_flow')

= render '/shared/breadcrumbs', breadcrumbs: ["Manage",
                                               link_to("Dashboard", dashboard_index_path),
                                               "Sources"]

%section.template-repos
  - if @template_repos
    %ul
      = render @template_repos

  = form_for @template_repo do |f|
    = f.label :name, 'New Source:'
    = f.text_field :name, placeholder: 'username/repository'
    = f.submit 'Add New Source', class: 'button-positive'

  %a.button-add Add a New Source
