- content_for(:title, 'Remote Deployment Targets')
- content_for(:body_id, 'deployments_flow')
= render '/shared/breadcrumbs', breadcrumbs: ['Manage', yield(:title)]
%script#job_template{type: 'text/x-handlebars-template'}
  = render 'job', { presenter: JsonJobPresenter.new(self) }
%script#journal_line_template{type: 'text/x-handlebars-template'}
  %p
    %span.timestamp {{timestamp}}
    %span.source {{source}}
    {{message}}

- @jobs.each do |job|
  - presenter = JobPresenter.new(job, self)
  .deployment-job{ id: "#{presenter.dom_id}" }
    .deployment-job-progress{ class: "intially-#{presenter.status}", data: { source: job_path(job.key) } }
      = render 'job', presenter: presenter
    .deployment-job-log
      %code.log-output.truncated{ data: { source: log_job_path(job.key) } }

= render @deployment_targets

= render 'shared/errors', errors: @deployment_target.errors
= form_for @deployment_target, html: { id: 'create_target', class: ('expanded' unless @deployment_target.valid?) } do |f|
  %dl
    %dt= f.label :name
    %dd= f.text_field :name
    %dt= f.label :auth_blob, 'Token'
    %dd= f.text_area :auth_blob

  = f.button 'Save Remote Deployment Target', class: 'button-add-positive'
  %a.button-cancel{ { data: { toggle: { target: '#create_target', class: 'expanded' }, cancel: { form: true } } } }
    Cancel

.add-target
  %h2 Add Another Remote Deployment Target
  .providers
    %ul
      - @job_templates.each do |job_template|
        %li.provider
          = link_to provider_label(job_template.name), new_job_path(template_id: job_template.id), title: job_template.name
  %p
    Or
    %a{ { data: { toggle: { target: '#create_target', class: 'expanded' } } } } Add a new Remote Deployment Target
