.category-panel
  %header
    %span.title
      = presenter.name
    .actions
      = link_to '', category_show_or_index_path(presenter.app_id, presenter.id), class: 'edit-action'
      = link_to '', category_show_or_index_path(presenter.app_id, presenter.id), class: 'delete-action'
  %ul.services
    - presenter.services.each do |service|
      = render 'application_service_row', {presenter: ServiceRowPresenter.new(service)}
  = link_to 'Add a Service', '#', class: 'button-positive add-service', title: 'add', data: {:category => presenter.id}
