- content_for(:body_id, 'manage_flow')

= render '/shared/breadcrumbs', breadcrumbs: [ "Manage",
                                                link_to("Dashboard", dashboard_index_path),
                                                "My Applications" ]
%section.applications
  - @apps.each do |app|
    %div.application
      .name
        = link_to app.name, app_path(app.id)
        %b= app.services.length
        %span= app.service_count_label
      .actions
        = render 'application_button_menu', app: app

  = link_to 'Create a New Application', root_path, class: 'button-add'
