%p
  looks like your trying to run a template from:
  %strong= @template.name
  please fill out a couple more details to continue

= form_for @form, url: create_from_template_apps_path do |f|
  = f.hidden_field :template_id

  = f.fields_for :images do |img|
    %h6= img.object.name

    = img.fields_for :environment do |env|
      = env.hidden_field :variable
      = env.label :value, env.object.variable
      = env.text_field :value

  = f.submit
