- content_for(:body_id, 'manage_flow')

%script#new_category_template{type: 'text/x-handlebars-template'}
  = render 'new_category'
%script#service_template{type: 'text/x-handlebars-template'}
  = render 'application_service_row', { presenter: JsonServiceRowPresenter.new() }
%script#category_archetype{type: 'text/x-handlebars-template'}
  = render 'category_panel', { presenter: JsonCategoryPresenter.new() }
:ruby
  crumbs = breadcrumbs_for(
    link_to("Manage", apps_path),
    @app.name
  )

%header.application
  = render '/shared/breadcrumbs', breadcrumbs: crumbs

%section.deployment-details
  %span.deployment-env
    Deployed to: CoreOS Local
  - unless @app.host_ports.blank?
    - app_url_for(@app).each do |service_name, ports|
      %span.service-url
        = "#{service_name} URL: "
        - ports.each do |port|
          %a{href: "http://127.0.0.1:#{port}/"}<>
            = "127.0.0.1:#{port}"

  = render 'application_button_menu', app: @app

%section.application-services
  %header
    %h3
      Application Services
    %nav
      %a.list.selected= ''
      %a.relationship= ''
  .views
    .categories
      - @app.categorized_services.each do |group, services|
        = render 'category_panel', { presenter: CategoryPresenter.new(@app, group, services) }
      .category-panel.add
        %header
          %span.title
            Add a Category
        %button.button-positive.add-category
    .relationships
      = render 'relationship_view', :app => @app

= render 'shared/journal',
  title: 'CoreOS Journal - Application Activity Log',
  journal_path: journal_app_path(@app.id, format: :json)

= render 'services/add_service'
