.category-panel
  %header
    Category Name
  %ul.services
    %li
      .service-icon
        %img{src:''}
      =link_to 'Wordpress', '/applications/77/services/77', class: 'status-started'
      .actions
        %a.edit-action
        %a.delete-action
  %a.add-service
    Add a Service

#add-service-form
  %p foo
  %p bar
  %p baz
  %input{ :type => 'text', :id => 'search_form_query' }
  .image-results
    .search-result-item.image-result
      .actions
        = form_tag '/applications/77/services' do
          = hidden_field_tag 'application[name]', 'Wordpress'
          = hidden_field_tag 'application[category]', 'null'
          = hidden_field_tag 'name', 'Wordpress'
          = hidden_field_tag 'from', 'Wordpress'
          = button_tag 'Add to App', class: 'button-positive'

.archetype
  %li
    .service-icon
      %img{src:''}
    = link_to '', '', class: 'status-started'
    .actions
      %a.edit-action{:href => '/applications/1/services/1'}
      %a.delete-action{:href => '/applications/1/services/1'}