%script#loading_row_template{type: 'text/x-handlebars-template'}
  .search-result-item.in-progress
    .badge
    .basic-info
      %p= '{{loading_copy}}'
%script#template_result_template{type: 'text/x-handlebars-template'}
  %h4= '{{title}}'
  %p= '{{description}}'
  %p= '{{updated_at}}'
%script#image_result_template{type: 'text/x-handlebars-template'}
  %h4= '{{title}}'
  %p= '{{description}}'
  %p= '{{updated_at}}'
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  %p sorry, nothin here


.filterable-list
  %form{action: '/search'}
    %label{for: 'query'} Command
    %input#search_query{type: 'text', name: 'query'}

  %p.example-searches
    %strong
      Examples:
    %a{data: {query: "wordpress"}} wordpress,
    %a{data: {query: "apache"}} apache,
    %a{data: {query: "rails"}} rails,
    %a{data: {query: "ubuntu"}} ubuntu,
    %a{data: {query: "java"}} java

  .template-results
  .image-results
