%script#loading_row_template{type: 'text/x-handlebars-template'}
  .search-result-item.in-progress
    .badge
    .basic-info
      %p= '{{loading_copy}}'
%script#template_result_template{type: 'text/x-handlebars-template'}
  .search-result-item
    %h4= '{{title}}'
    %p= '{{description}}'
    %p= '{{updated_at}}'
%script#remote_image_result_template{type: 'text/x-handlebars-template'}
  .search-result-item
    %h4= '{{title}}'
    %p= '{{description}}'
    %p= '{{updated_at}}'
    = select_tag 'application[tag]',
      options_for_select(['latest']),
      data: {'loaded' => false}
%script#local_image_result_template{type: 'text/x-handlebars-template'}
  .search-result-item
    %h4= '{{title}}'
    %p= '{{description}}'
    %p= '{{updated_at}}'
    = select_tag 'application[tag]',
      options_for_select(['latest']),
      data: {'loaded' => false}
%script#no_results_row_template{type: 'text/x-handlebars-template'}
  %p sorry, nothin here


.filterable-list
  %form.search-form{action: '/search'}
    %label{for: 'query'} Command
    %input.query-field{type: 'text', name: 'query'}

  %section.example-searches
    %a.example.wordpress{data: {query: "wordpress"}} wordpress,
    %a.example.apache{data: {query: "apache"}} apache,
    %a.example.wordpress{data: {query: "rails"}} rails,
    %a.example.ubuntu{data: {query: "ubuntu"}} ubuntu,
    %a.example.java{data: {query: "java"}} java

  %h3.search-title Templates
  .template-results

  %h3.search-title Images
  .local-image-results
  .remote-image-results
