- content_for(:body_id, 'deployments_flow')
= render '/shared/breadcrumbs', breadcrumbs: ["Manage",
                                              link_to("Remote Deployment Targets", deployment_targets_path),
                                              @deployment_target.name]
- @deployments.each do |deployment|
  .deployment{ id: dom_id(deployment) }
    %a.name{ data: { toggle: { target: "##{dom_id(deployment)}", class: 'expanded' } } }= "ID: #{deployment.id} / #{deployment.name}"
    .actions
      = link_to 'Delete Target',
                deployment_target_deployment_path(@deployment_target.id, deployment.to_param),
                class: 'delete-action',
                title: 'delete',
                method: 'delete',
                data: { delete_confirm: 'Delete this Deployment?', delete_remove_at: '.deployment' }
    %dl
      %dt Services:
      %dd= deployment.service_ids.length
    .services
      %ul
        - deployment.service_ids.each do |service_id|
          %li
            %strong= service_id
