- content_for(:title, 'Images')
- content_for(:body_id, 'images_flow')

= render '/shared/breadcrumbs', breadcrumbs: [ 'Manage',
                                                link_to('Dashboard', dashboard_index_path),
                                                yield(:title)]

- unless @images.blank?
  = form_tag destroy_multiple_images_path, method: :delete do
    %section.image
      = button_tag 'Remove Selected', type: 'submit', class: 'button-negative submit-button', disabled: true
      .select-all
        .label
          Select All
        .styled-check
          = check_box_tag 'all', 1
          %label{ :for => 'all' }
      %ul.images
        - @images.each do |image|
          %li
            - il_message = "Inspect #{image.name} with imagelayers.io"
            = link_to il_message, image.imagelayers_url, { class: 'imagelayers-link', title: il_message, target: '_blank' }
            %h3= image.name
            %h6= image.tags[1..-1].try(:join, ', ')
            %dl
              %dt
                Image ID:
              %dd
                =image.id
              %dt
                Image Size:
              %dd
                =number_to_human_size(image.virtual_size)
            .actions
              - unless image.panamax_image?
                .styled-check
                  = check_box_tag "delete[#{image.id}]", 1
                  %label{ :for => "delete_#{image.id}" }
      %section
        = button_tag 'Remove Selected', type: 'submit', class: 'button-negative submit-button', disabled: true
