!!!
%html
  %head
    %title PanamaxUi
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'http://www.centurylinklabs.com/images/favicon.ico'
  %body{id: yield(:body_id)}
    :javascript
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = '//s3.amazonaws.com/ki.js/52526/bmn.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    %header
      %h1.panamax-logo
        = link_to 'Panamax', root_path, title: 'Home'
      %nav
        %ul
          %li.search-link= link_to 'Search', new_search_path
          %li.manage-link= link_to 'Manage', applications_path
    %cite.built-by
      %span Built by
      %h2 Century Link
    %main
      = yield
