!!!
%html
  %head
    %title PanamaxUi
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'http://www.centurylinklabs.com/images/favicon.ico'
    %script#host_health_template{type: 'text/x-handlebars-template'}
      = render '/shared/host_health'
  %body{id: yield(:body_id)}
    :javascript
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = '//s3.amazonaws.com/ki.js/52526/bmn.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    %header
      %h1.panamax-logo
        = link_to 'Panamax', root_path, title: 'Home'
      %nav
        %ul
          %li.search-link= link_to 'Search', new_search_path
          %li.manage-link= link_to 'Manage', apps_path
    %aside.host
      %span CoreOS Host:
      .health
    %cite.built-by
      %span Built by
      %h2 Century Link
    %main
      = render 'shared/notifications'
      = yield
    %footer
      .content
        #email_newsletter
          %h4 Sign Up for Our Newsletter
          %p Get all the latest news, tips & tricks for Panamax, Docker, etc.
          %form{ action: '#', method: 'get', name: 'input' }
            %input.email-form{ name: 'user', type: 'text', value: 'Email Address' }/
            %input.button-secondary{ type: 'submit', value: 'Submit' }/
        %p
          Panamax is an open-source product from CenturyLink Labs.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In sodales metus gravida tortor adipiscing vehicula.
        %ul
          %li
            %a{ href: 'http://www.centurylinklabs.com/' } CenturyLink Labs Blog
          %li.github-link
            %a{ href: 'https://github.com/CenturyLinkLabs', target: '_blank', title: 'Fork Us on GitHub' } Fork Us on GitHub
          %li.twitter-link
            %a{ href: 'https://twitter.com/centurylinklabs', target: '_blank', title: 'Follow Us on Twitter' } Follow Us on Twitter
          %li
            %a{ href: '#' } Terms & Conditions
          %li
            %a{ href: '#' } Privacy Policy
      .ctl-copyright
        %p.microcopy © 2014 Century Link Labs
